@media only screen and (max-width: 1220px){
 section .title-cont h3 {
  width: 37%;
 }
 .how-it-works-cont {
  flex-wrap: wrap;
 }
 .how-it-works-item {
  width: 49%;
  margin-bottom: 15px;
}
}
@media only screen and (max-width: 1024px){
 .title {
  width: 51%;
 }
 .ecosystem-cont {
  flex-wrap: wrap;
 }
 .ecosystem-item {
  width: 49%;
  margin-bottom: 15px;
 }
 .programs-cont {
  flex-wrap: wrap;
  justify-content: space-around;
}
 .programs-item {
  width: 48%;
  margin-bottom: 15px;
 }
 .join-cont {
  width: 100%;
 }




 .flower-img {
  width: 35%;
 }
 img.flower-img2 {
  width: 19%;
 }
 img.flower-img3 {
  width: 15%;
  bottom: -21px;
 }
 .ecosystem-infographic img {
  width: 35%;
 }
}
@media only screen and (max-width: 800px){
 .toolbar-logo {
  width: 48%;
 }
 .hero-content {
  width: 77%;
 }
 .about-cont {
  display: block;
 }
 .about-item {
  width: 47%;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
 }
 .title-cont {
  display: block;
  margin-bottom: 40px;
 }
 section .title-cont h3 {
  width: 100%;
  margin-top: 15px;
 }
 .title {
  width: 77%;
 }
 .about-cont {
  display: flex;
  flex-wrap: wrap;
 }
 .join-cont {
  display: block;
 }
 .join-text, .join-form {
  width: 100%;
}
.join-form {
 margin-top: 25px;
}
.hero {
 background-image: url(./img/mobile-back.png);
}
.sec-btn {
 background-color: #ffffff;
}
section, footer {
 padding: 50px 0;
}
.hero {
 height: 90vh;
}
}
@media only screen and (max-width: 600px){
 .about-item {
  width: 85%;
 }
 h2 {
  font-size: 28px;
 }
 .how-it-works-item {
  width: 100%;
  margin-bottom: 15px;
 }
 .ecosystem-item {
  width: 100%;
  margin-bottom: 15px;
 }
 .programs-item {
  width: 100%;
 }
 footer .container {
  display: block;
 }
 footer h3 {
  margin-bottom: 10px;
}
footer {
 text-align: center;
}
.hero-content {
 width: 100%;
}
.flower-img {
 width: 47%;
}
img.flower-img2 {
 width: 29%;
}
img.flower-img3 {
 width: 34%;
 bottom: -25px;
}
.title {
 width: 100%;
}
.ecosystem-infographic img {
 width: 57%;
}
}
@media only screen and (max-width: 425px){
 .toolbar-logo {
  width: 85%;
}
h1, h1 b {
 font-size: 40px;
 line-height: 43px;
}
.hero-btn-cont button {
 width: 100%;
 margin: 5px 0;
}
}


